<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/microcms.css" rel="stylesheet">
    <title> Radiations </title>
</head>
<body>
    <h1>Risque radiologique et nucléaire</h1> 
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">MicroCMS</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-target">
                </div>
            </div><!-- /.container
        <!-- </nav> --> 

        <h2> Pour diminuer le risque  :</h2>
            <h3> Si vous habitez dans une zone industrielle à risque NRBC : </h3>
                <ul>
                    <li> Il est indispensable de vous informer auprès des autorités des dispositions à prendre en cas d’accident ; </li>
                    <li>Faites des réserves d’eau et de nourriture pour au moins 48h, pour vous et votre famille ;</li>
                    <li> Pensez à vérifier régulièrement les dates de péremption de vos réserves ainsi que la validité des piles de votre radio ;</li>
                    <li> Pensez à vous équiper d’une trousse de premiers secours et de catastrophe ; </li>
                    <li> Que vous soyez en situation d’évacuation ou de mise à l’abri, n’oubliez pas de vous munir d’un transistor, de vêtements chauds, de vos médicaments indispensables, de vos papiers personnels et d’un peu d’argent. </li>
                </ul>
        <h2> Que faire si cela arrive ? </h2>
            <h3>Si vous entendez la sirène, une explosion, êtes informé de la dispersion d'un agent radioactif, dans tous les cas : </h3>
                <ul>
                    <li> Enfermez vous rapidement dans le bâtiment le plus proche. Ne restez pas à l'extérieur ou dans un véhicule (pour éviter de respirer des produits toxiques) ; </li>
                    <li>Ecouter les radios publiques (Franc bleu, France info, France inter) pour connaître les consignes à suivre ; </li>
                    <li> Boucher toutes les entrées d'air (portes, fenêtres, aération, cheminées...), arrêter la ventilation pour empêcher les produits toxiques de rentrer dans votre abri ; </li>
                    <li> Ne fumez pas, ne mangez pas ; </li>
                    <li> N'allez pas sur les lieux de l'accident ; </li>
                    <li> Lavez-vous et si possible changez-vous (si vous pensez avoir été contaminé) ; </li>
                    <li> N'allez pas chercher vos enfants à l'école (les établissement scolaires ont des consignes de mise à l'abri) ; </li>
                    <li> Ne téléphonez pas pour ne pas encombrer les lignes téléphoniques pour les secours ; </li>
                    <li> Toutes les instructions pour un retour à la normale seront transmises par les radios ou des véhicules sonorisés officiels (pompiers ou gendarmes). </li>
                </ul>
           
        <h2> Les risques radiologiques et biologiques apparus : </h2>
            <p> {{$crise.desc}} <p>
        <footer class="footer">
           
        </footer>
    </div>
</body>
</html>
>