<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/microcms.css" rel="stylesheet">
    <title>Tsunami</title>
</head>
<body>
    <h1>Tsunami - Consignes de prévention</h1> 
    <!-- <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">MicroCMS</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-target">
                </div>
            </div><!-- /.container -->
        <!-- </nav> --> -->
        <h2> Agir avant </h2>
            <h3> Signes précurseurs auxquels être attentifs </h3>
                <ul>
                    <li> <em> Si on réside </em> dans un zone côtière . </li>
                    <li>Si un tremblement de terre important, une éruption volcanique sous-marine viennent d’avoir lieu. </li>
                    <li> Si on constate une baisse importante du niveau de la mer, qui se retire et découvre la plage sur une distance inhabituellement longue, ou si on entend un grondement. </li>
                </ul>
            <h3> Comment se préparer ? </h3>
                <ul>
                    <li> <em> Repérer </em> un endroit où il sera possible de se mettre à l'abri </li>
                    <li> <em> Préparer l'équipement necessaire </em> (médicaments, papiers d'identité, lampe de poche etc.), détaillé dans el Guide de préparation aux situations d'urgence.
                </ul>

        <h2> Agir pendant </h2>
            <h3> Si vous êtes à terre </h3>
                <ul>
                    <li> <em>  Rester à l'écoute </em> de toutes les consignes données par les autoriés compétentes. </li>
                    <li> <em> Dès l'alerte, s'éloigner </em> le plus loin possible des c^tes ou atteindre un promontoire de quelques mètres à quelques dizaines de mètres pour être épargné (un petit tsunami en un point de la côte peut être extrêmement violent quelques kilomètres plus loin). </li>
                    <li> <em>Emporter les équipements minimums </em> (lampe de poche, radio portative, eau potable, nourriture, médicaments, couvertures, matériel de confinement). </li>
                    <li> Ne jamais descendre sur la plage pour observer un tsunami. </li>
                    <li> Les vagues de tsunamis ne roulent pas et ne cassent pas : il est inutile et dangereux de vouloir en profiter pour faire du surf. </li>
                    <li> <em>Si l’on est surpris par un tsunami, grimper </em> sur le toit d’une habitation ou la cime d’un arbre solide ; en dernier recours, s’accrocher à un objet flottant que le tsunami charrie. </li>
                    <li> <em> Ne prendre la mer sous aucun prétexte.</em> </li>
 
            <h3> Si vous êtes en mer </h3>
                Ne pas retourner au port si vous êtes en mer et qu’un avertissement de tsunami est publié.

        <h2>Agir après </h2>
            <ul>
                <li> Rester hors de la zone dangereuse tant qu’un avis de retour à une situation normale n’a pas été émis par les autorités. Un tsunami n’est pas une vague unique, mais une série de vagues qui peuvent venir du large pendant des heures. La plus grosse vague est rarement la première, mais plutôt l’une des vagues suivantes qui, outre sa propre énergie potentielle, récupère l’énergie d’une vague qui s’est déjà brisée et retourne vers la mer. </li>
 
                <li> Si l’on est en mer, rester à l’écoute des autorités pour s’assurer que les conditions d’un retour au port sont favorables. </li>
 
                <li> Avant d’utiliser l’eau du robinet pour des usages alimentaires (boisson, préparation des aliments, cuisson,…), s’assurer auprès des autorités locales  qu’elle soit potable et dans tous les cas, faire couler l’eau afin de nettoyer le réseau et d’évacuer l’eau qui a stagné. </li>
 
                <li>En cas d’utilisation de l’eau d’un puits privé, se renseigner également auprès de la mairie avant de le remettre en service et de l’utiliser à nouveau pour des usages alimentaires.</li>
 
                <li>Vérifier l’état des aliments congelés/réfrigérés et les jeter en cas de doute.</li>
 
                <li> Afin de prévenir les intoxications au monoxyde de carbone et en cas d’utilisation de groupes électrogènes, veiller à respecter les consignes d’utilisation et à les placer à l’extérieur du bâtiment. Il est recommandé de ne pas utiliser de chauffage d’appoint en continu.</li>
            
        <h2> Les dangers du tsunami </h2>
            <p> {{$crise.desc}} <p>
        <footer class="footer">
           
        </footer>
    </div>
</body>
</html>
>