<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/microcms.css" rel="stylesheet">
    <title> Conflits </title>
</head>
<body>
    <h1>Consignes de préventions en cas de Conflits </h1> 
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">MicroCMS</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-target">
                </div>
            </div><!-- /.container
        <!-- </nav> --> 

        <h2> Pour diminuer le risque  </h2>
            <h3> Signalisation d’objets abandonnés ou suspects : </h3>
                <p> Si vous voyagez, vous ne devez pas vous séparer de vos bagages et particulièrement dans les transports en commun. Il est indispensable d’être vigilant lorsque vous êtes en présence d’objets délaissés et de les signaler aux agents du transporteur ou aux autorités. </br> Dans tous les cas : </p>
                <ul>
                    <li> N’approchez pas de la zone où se trouve un objet suspect et/ou abandonné.  Demandez aux personnes qui se trouvent dans cette zone de s’en éloigner. Attendez l’arrivée des secours qui pourront éventuellement demander votre témoignage ; </li>
                    <li>En cas d’odeur suspecte ou de liquide fuyant d’un colis suspect, faites un cordon de sécurité de 50 mètres au moins et ne vous mettez pas sous le vent du colis. </li>
                </ul>
        <h2> Que faire si cela arrive ? </h2>
            <h3>Si vous entendez le signal national d’alerte (sirène) : </h3>
                <p> Mettez-vous à l’abri dans un local clos ou une habitation et confinez-vous (bouchez soigneusement les fentes des portes, fenêtres et bouches d’aération avec un linge mouillé ou une bande adhésive de façon à être isolé le plus hermétiquement possible de l’air extérieur). Attention la voiture ne constitue pas un abri </p>
                <ul>
                    <li> Si vous êtes dehors, entrez dans le bâtiment le plus proche ; </li>
                    <li> Si vous êtes en voiture, arrêtez-vous et réfugiez-vous dans le bâtiment le plus proche ; </li>
                    <li> Si vous êtes à l'intérieur (au travail, chez vous...), restez-y. </li>
                </ul>
            <h3> Une fois à l'abri :  </h3>
                <ul> 
                    <li>Fermez les portes et les fenêtres ;</li>
                    <li>Arrêtez la ventilation, la climatisation et le chauffage, l’arrivée de gaz ; </li>
                    <li> Ecoutez la radio, les consignes vous seront communiquées.</li>
                </ul>
            <h3>Ce qu’il ne faut pas faire durant une mise à l’abri : </h3>
                <ul>
                    <li> N’ouvrez jamais une fenêtre pour savoir ce qui se passe à l’extérieur ; </li>
     
                    <li> Ne provoquez aucune flamme (donc pas de cigarettes), n’actionner pas les interrupteurs (explosion possible) ;</li>
     
                    <li> Ne téléphonez pas, pour ne pas encombrer le réseau téléphonique utile pour les secours ou composez le numéro vert indiqué par les autorités ; </li>
     
                    <li>Ne quittez jamais votre abri,  sans autorisation des pouvoirs publics ;</li>
     
                    <li>Si vos enfants sont à l’école, n’essayez pas d’aller les chercher, ils sont pris en charge par les enseignants entraînés à cet effet.</li>
                </ul>
             <h3>Si vous êtes sur le lieu d’un attentat, explosion ou que vous ressentez avec d’autres personnes une brusque gêne respiratoire, que vous soyez ou non blessé  :  </h3>
                <ul>
                    <li> Protégez vous autant que possible les yeux, le nez, la bouche et les parties découvertes afin de limiter les inhalations, contacts ou expositions à des agents toxiques ; </li>
     
                    <li> Eloignez vous le plus rapidement possible (mais sans courir de manière à ne pas augmenter votre rythme cardiaque et respiratoire) du lieu de l'attentat, mais restez à proximité de la zone pour être pris en charge par les secours d’urgence.</li>
     
                    <li> Ne vous rendez pas spontanément dans un hôpital pour y recevoir des premiers soins ; Les services de secours vous prendront en charge sur ou à proximité du site ; </li>
     
                    <li>Dans tous les cas, incitez les personnes présentes à se protéger, à s'éloigner immédiatement du lieu de l'accident et à se regrouper en attendant les secours et aider les personnes qui ont des difficultés à s'éloigner ;</li>
     
                    <li>Si les secours ne sont pas sur place, donnez l’alerte ( Tel au 18 ou 112) en décrivant le plus précisément possible la situation et en répondant aux questions des secours ;</li>

                    <li> Ne téléphonez pas à d’autres correspondants que les services d’urgence afin de ne pas participer à la saturation du réseau ;</li>

                    <li>Dans tous les cas, attendez l'arrivée des équipes de secours et indiquez leur le lieu du sinistre. </li>
                </ul>
                    
                 <h3>Si vous êtes en présence d’une lettre ou un colis qui contient un liquide ou une poudre :  </h3>
                <ul>
                    <li> Reposez le paquet, recouvrez le le si possible, ne le manipulez plus ; </li>
     
                    <li> Prévenez les secours (Police ou Gendarmerie) et suivez leurs consignes ;</li>
     
                    <li> Faites immédiatement arrêter les ventilations ;</li>
     
                    <li>Isolez le lieu (fermez toutes les issues) et l'évacuez;</li>
     
                    <li>Ne buvez pas, ne mangez pas, ne fumez pas, ne touchez pas autrui ;</li>

                    <li> Attendez l'arrivée des secours. </li>
                </ul>

                       <h3>Si vous avez été souillé par un liquide ou une poudre sortant d’une enveloppe ou un colis :</h3>
                <ul>
                    <li> Déposez le paquet dans un sac plastique en le manipulant le moins possible, fermez le sac le plus hermétiquement possible ; </li>
     
                    <li> Prévenez les secours (Police,Gendarmerie) et suivez leurs consignes ;</li>
     
                    <li> Faites immédiatement arrêter les ventilations ;</li>
     
                    <li>Isolez le lieu (fermez toutes les issues) et l'évacuez;</li>
     
                    <li>Débarassez vous de vos vêtements  si possible et mettez-les dans un sac plastique en le fermant également le plus hermétiquement possible ;</li>

                    <li>Lavez-vous les parties du corps au contact du corps étranger) si cela est techniquement possible, en prenant garde de ne pas toucher d'autres personnes ; </li>

                    <li> Ne buvez pas, ne mangez pas, ne fumez pas, ne touchez pas autrui ; </li>

                    <li>Attendez l'arrivée des secours. </li>
                </ul>

                <p>QUELLES QUE SOIENT LES DIVERSES SITUATIONS DECRITES CI-DESSUS, SUIVEZ SCRUPULEUSEMENT LES CONSIGNES DONNÉES PAR LES AUTORITÉS PUBLIQUES ET/OU LES SECOURS </p>
 

        <h2> Les conflits armés sont réellement dangereux : </h2>
            <p> {{$crise.desc}} <p>
        <footer class="footer">
           
        </footer>
    </div>
</body>
</html>
>